<!DOCTYPE html>
<html>
    <head>
        <title>Nuevo enclave</title>
    </head>
    <body ng-controller="AddPostCtrl">
              <nav class="container navbar-inverse">
            <div class="navbar-inverse">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">La España Extraña</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#/welcome" >Portada</a></li>
                    <li class="active"><a href="#/addPost" >Crear enclave</a></li>
                    <li><a href="#" >Salir</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
             <form role="form" name="postForm" ng-submit="createPost()" novalidate="">
                 <legend>Crear un nuevo enclave</legend>
                 <div class="row">
                     <div class="col-md5">
                         <div class="form-group" ng-class="{'has-error': postForm.nombre_enclave.$invalid && postForm.nombre_enclave.$touched}">
                             <label for"Nombre_enclave">Nombre del enclave</label>
                             <input type="text" name="nombre_enclave" class="form-control" ng-minlength="5" placeholder="Nombre del enclave" ng-model="article.nombre_enclave" required="">
                             <small class="help-block" ng-show="postForm.nombre_enclave.$error.minlength && postForm.nombre_enclave.$touched">Por favor, escribe al menos 5 caracteres</small>
                         </div>
                         <div class="form-group" ng-class="{'has-error': postForm.descripcion_enclave.$invalid && postForm.descripcion_enclave.$touched}">
                             <label for "Descripcion_enclave">Descripción del enclave</label>
                             <textarea name="descripcion_enclave" class="form-control" placeholder="Descripción del enclave" ng-minlength="20" ng-model="article.descripcion_enclave" required=""></textarea>
                               <small class="help-block" ng-show="postForm.descripcion_enclave.$error.minlength && postForm.descripcion_enclave.$touched">Por favor, escribe al menos 20 caracteres</small>
                      
                         </div>
                         <div class="form-group">
                                <button type="submit" class="btn btn-primary" data-ng-disabled="postForm.$invalid">Enviar enclave</button>
                         </div>
                                        
               
            </form>
        </div>
    </body>
</html>
